# Environment Variables
.env

# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Test Cache
.pytest_cache/

# Build Files
build/
dist/
*.egg-info/